.bottom_navigation {
  height: 98px;
  background: #fff;
  display: flex;
  box-shadow: 0 0 4px rgb(51 54 68 / 5%), 0 2px 6px rgb(51 54 68 / 10%);
  z-index: 999;
}

.bottom_navigation .previous_seg.enabled {
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.bottom_navigation .previous_seg {
  border-right: 2px solid #f4f5f7;
  pointer-events: none;
  padding-left: 64px;
}

.bottom_navigation .next_seg,
.bottom_navigation .previous_seg {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.bottom_navigation:not(.mobile) .next_seg .icon_wrapper,
.bottom_navigation:not(.mobile) .previous_seg .icon_wrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #7c8698;
}

.bottom_navigation .previous_seg .icon_wrapper {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.previous_seg .icon_wrapper {
  display: flex;
}

.previous_seg .seg_name_wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

:root .mh-20,
:root .ml-20 {
  margin-left: 20px;
}

.bottom_navigation .next_seg .seg_name_wrapper .action_hint,
.bottom_navigation .previous_seg .seg_name_wrapper .action_hint {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.00533333em;
  text-transform: uppercase;
  color: #7c8698;
}

.bottom_navigation .previous_seg .action_hint,
.bottom_navigation .previous_seg .seg_name {
  text-align: left;
}

.bottom_navigation .next_seg .seg_name_wrapper .seg_name,
.bottom_navigation .previous_seg .seg_name_wrapper .seg_name {
  font-size: 20px;
  line-height: 30px;
  color: #1a202c;
  letter-spacing: -0.00666667em;
}
.bottom_navigation .previous_seg .action_hint,
.bottom_navigation .previous_seg .seg_name {
  text-align: left;
}

.bottom_navigation .next_seg {
  cursor: pointer;
  padding-right: 64px;
}
.bottom_navigation .next_seg,
.bottom_navigation .previous_seg {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.bottom_navigation .next_seg .seg_name_wrapper,
.bottom_navigation .previous_seg .seg_name_wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

:root .mh-20,
:root .mr-20 {
  margin-right: 20px;
}

.bottom_navigation:not(.mobile) .next_seg .icon_wrapper {
  box-shadow: 0 3px 6px rgb(9 30 66 / 3%), 0 2px 4px rgb(9 30 66 / 8%);
}
.bottom_navigation:not(.mobile) .next_seg .icon_wrapper,
.bottom_navigation:not(.mobile) .previous_seg .icon_wrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #7c8698;
}
.bottom_navigation .next_seg .icon_wrapper,
.bottom_navigation .previous_seg .icon_wrapper {
  display: flex;
}

.bottom_navigation .next_seg .icon_wrapper svg,
.bottom_navigation .previous_seg .icon_wrapper svg {
  width: 25px;
  height: auto;
}

.bottom_navigation .next_seg .seg_name_wrapper .action_hint,
.bottom_navigation .previous_seg .seg_name_wrapper .action_hint {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.00533333em;
  text-transform: uppercase;
  color: #7c8698;
}

.bottom_navigation .next_seg .action_hint,
.bottom_navigation .next_seg .seg_name {
  text-align: right;
}

.bottom_navigation .next_seg .seg_name_wrapper .seg_name,
.bottom_navigation .previous_seg .seg_name_wrapper .seg_name {
  font-size: 20px;
  line-height: 30px;
  color: #1a202c;
  letter-spacing: -0.00666667em;
}

.bottom_navigation .next_seg .action_hint,
.bottom_navigation .next_seg .seg_name {
  text-align: right;
}
